<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
        {% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Свадьба Афанасьевых</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href={% static "css/animate.css" %}>
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href={% static "css/icomoon.css" %}>
	<!-- Bootstrap  -->
	<link rel="stylesheet" href={% static "css/bootstrap.css" %}>

	<!-- Magnific Popup -->
	<link rel="stylesheet" href={% static "css/magnific-popup.css" %}>

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href={% static "css/owl.carousel.min.css" %}>
	<link rel="stylesheet" href={% static "css/owl.theme.default.min.css" %}>

	<!-- Theme style  -->
	<link rel="stylesheet" href={% static "css/style.css" %}>

	<!-- Modernizr JS -->
	<script src={% static "js/modernizr-2.6.2.min.js" %}></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src={% static "js/respond.min.js" %}></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">


	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url({% static "images/img_bg_2.jpg" %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Лёша и Таня</h1>
							<h2>Свадьба состоится через</h2>
							<div class="simply-countdown simply-countdown-one"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-couple">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Привет!</h2>
					<h3>27 Октября</h3>
					<p>Мы приглашаем тебя отпраздновать с нами нашу свадьбу!</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src={% static "images/groom.jpg" %} alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>Афанасьев Алексей</h3>
						<p>Тёплым июньским утром решил жениться. Не очень понимает, что тут происходит, но очень рад.</p>
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src={% static "images/bride.jpg" %} alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>Соболева Татьяна</h3>
						<p>Тёплым июньским утром оказалась не сильно против.
Понимает, что происходит, и тоже очень рада.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url({% static "images/img_bg_3.jpg" %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Расписание свадебного дня</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-10 col-md-offset-1">
							<div class="col-md-4 col-sm-4 text-center">
								<div class="event-wrap animate-box">
									<h3>Церемония регистрации</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>13.30</span>
										<span>14.30</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Суббота 27</span>
										<span>Октября, 2018</span>
									</div>
									<p>С 13:10 мы будем ждать вас во дворце бракосочетаний №2 по адресу Фурштатская улица, 52. Там состоится торжественная регистрация.</p>
								</div>
							</div>
                            <div class="col-md-4 col-sm-4 text-center">
								<div class="event-wrap animate-box">
									<h3>Прогулка</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>16.30</span>
										<span>23.00</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Суббота 27</span>
										<span>Октября, 2018</span>
									</div>
									<p>После регистрации мы организуем для вас небольшую прогулку по центру города, чтобы немного отвлечь от официальной части и настроить на праздничный банкет.</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-4 text-center">
								<div class="event-wrap animate-box">
									<h3>Банкет</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>16.30</span>
										<span>23.00</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Суббота 27</span>
										<span>Октября, 2018</span>
									</div>
									<p>После прогулки состоится праздничный ужин в ресторане "Амулет" по адресу ул. Восстания, 35.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{# todo координатор, фотограф, ведущийsvideteli #}
	<div id="fh5co-testimonial">
		<div class="container">
			<div class="row">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Нам помогают</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box">
						<div class="wrap-testimony">
							<div class="owl-carousel-fullwidth">
								<div class="item">
									<div class="testimony-slide active text-center">
										<figure>
											<img src={% static "images/couple-1.jpg" %} alt="user">
										</figure>
                                        <span><a href="https://vk.com/verprodspb">Лиза</a> - наш координатор</span>
										<blockquote>
											<p>Если у Вас есть идея сюрприза для нас, то обратитесь к ней, чтобы она могла вписать Вас в тайминг. Если у Вас остались вопросы по торжеству, можете так же обратиться к ней.</p>
										</blockquote>
									</div>
								</div>
								<div class="item">
									<div class="testimony-slide active text-center">
										<figure>
											<img src={% static "images/couple-2.jpg" %} alt="user">
										</figure>
                                        <span><a href="https://vk.com/demon00166">Дима</a> и <a href="https://vk.com/natka_enot">Наташа</a> - наши свидетели</span>
										<blockquote>
											<p>Они тоже в курсе всех подробностей, и к ним тоже можно обратиться :)</p>
										</blockquote>
									</div>
								</div>
								<div class="item">
									<div class="testimony-slide active text-center">
										<figure>
											<img src={% static "images/couple-3.jpg" %} alt="user">
										</figure>
										<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
										<blockquote>
											<p>"Far far away, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
										</blockquote>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{# todo podarki #}

	<div id="fh5co-services" class="fh5co-section-gray">
		<div class="container">
			
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Мы будем рады, если</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-calendar"></i>
						</span>
						<div class="feature-copy">
							<h3>We Organized Events</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-box"></i>
						</span>
						<div class="feature-copy">
							<h3>Подарки</h3>
							<p>Мы будем рады, если ваш подарок будет пополнением нашего семейного бюджета :)</p>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-colours"></i>
						</span>
						<div class="feature-copy">
							<h3>Цветовая гамма</h3>
							<p>Мы будем рады, если Вы поддержите цветовую гамму нашей свадьбы</p>
						</div>
					</div>

				</div>
                <div class="col-md-6 animate-box">
					<div class="fh5co-video fh5co-bg" style="background-image: url({% static "images/img_bg_3.png" %}); ">
					</div>
				</div>
			</div>

			
		</div>
	</div>


	<div id="fh5co-started" class="fh5co-bg" style="background-image:url({% static "images/img_bg_4.jpg" %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<p>Пожалуйста, напишите нам в личные сообщения о своём решении. Спасибо.</p>
				</div>
			</div>
		</div>
	</div>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src={% static "js/jquery.min.js" %}></script>
	<!-- jQuery Easing -->
	<script src={% static "js/jquery.easing.1.3.js" %}></script>
	<!-- Bootstrap -->
	<script src={% static "js/bootstrap.min.js" %}></script>
	<!-- Waypoints -->
	<script src={% static "js/jquery.waypoints.min.js" %}></script>
	<!-- Carousel -->
	<script src={% static "js/owl.carousel.min.js" %}></script>
	<!-- countTo -->
	<script src={% static "js/jquery.countTo.js" %}></script>

	<!-- Stellar -->
	<script src={% static "js/jquery.stellar.min.js" %}></script>
	<!-- Magnific Popup -->
	<script src={% static "js/jquery.magnific-popup.min.js" %}></script>
	<script src={% static "js/magnific-popup-options.js" %}></script>

	<!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
	<script src={% static "js/simplyCountdown.js" %}></script>
	<!-- Main -->
	<script src={% static "js/main.js" %}></script>

	<script>
    var d = new Date(2018, 10, 27, 13, 30, 0, 0);

    // default example
    simplyCountdown('.simply-countdown-one', {
        year: d.getFullYear(),
        month: d.getMonth(),
        day: d.getDate()
    });

    //jQuery example
    $('#simply-countdown-losange').simplyCountdown({
        year: d.getFullYear(),
        month: d.getMonth(),
        day: d.getDate(),
        enableUtc: false
    });
</script>

	</body>
</html>

